{% extends 'base.html' %}

  {% block content %}
  {% include 'inc/header.html' %}

  <header>
    {% include 'inc/header.html' %}

    <div class="container mt-5">
      <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'services' %}">Services</a></li>
                <li class="breadcrumb-item active">MTN</li>
              </ul>
            </nav>
            <h1 class="text-center">MTN Bundles</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section" id="services">
      <div class="container">
          <div class="text-center">
              <h2 class="title-section">Buy MTN Bundle</h2>
              <div class="divider mx-auto"></div>
          </div>

          <form method="post" id="mtnPaymentForm">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="phone">Phone Number</label>
                {{form.phone_number}}
                <small>Number must be 10 digits. E.g. 0270000000</small>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Bundle Offer</label>
                {{form.offers}}
              </div>
            </div>
            <input type="hidden" value={{email}} class="email">
              <input type="hidden" value={{ref}} class="reference">
<button type="submit" onclick="payWithPaystack()" class="btn btn-primary">Pay Online</button>
            <button type="button" class="btn btn-primary pay-with-wallet">Pay with Wallet</button>
              <a style="display: none" class="spinner-border process text-primary mt-2" role="status"></a>
              <h6 class="mt-2"><i class="fa fa-money"></i> Wallet Balance: GHS {{wallet}}</h6>
              <a href="{% url 'topup-info'%}">Want to top up your wallet? Click here!</a>
          </form>
      </div>
  </div> <!-- .page-section -->
  </main>

  {% include 'inc/footer.html' %}


{% endblock %}


{% block scripts %}
<script>
  const paymentForm = document.getElementById('mtnPaymentForm');
  let email = $(".email").val()
  let ref = $(".reference").val()
  let amount = $(".mtn-offer").val()
  console.log(amount)
  let wholeThing = $(".mtn-offer").text()
  let phonenumber = $(".mtn-phone").val()
      let jsonData = JSON.parse('{{mtn_dict | safe}}');
    console.log(jsonData)
  function getSelectedText() {
    const selectedText = $('.mtn-offer').find('option:selected').text();// Output: Text of the selected option within .mtn-offer
    return selectedText;
  }

  // Call the function on page load
  let offerMtn = getSelectedText();
  let bundle_volume = jsonData[offerMtn]



  // Event listener for changes in the select element
  $('.mtn-offer').change(function() {
    offerMtn = getSelectedText();
    bundle_volume = jsonData[offerMtn]// Output: Updated text of the selected option within .mtn-offer
  });
  console.log(email + ref)
  console.log(offerMtn)


    const postDataToFirebase = (data) => {
    console.log(offerMtn +"-offer")
      console.log(amount)
      console.log(jsonData[offerMtn])
  return fetch('https://posapi.bestpaygh.com/api/v1/initiate_mtn_transaction', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Authorization': '{{auth}}'
      // Other headers if required
    },
    body: JSON.stringify(data),
  });
};

const retryAttempts = 3; // Number of retry attempts
let currentAttempt = 1;
let token = $("input[name=csrfmiddlewaretoken]").val();

const saveData = (data, reference, phone, currentAttempt = 0) => {
  console.log(wholeThing)
  const retryAttempts = 3

  postDataToFirebase(data)
    .then((response) => {
      console.log(response)
      if (response.ok) {
        console.log('Data saved successfully to Firebase');
      $.ajax({
        url: '/services/mtn/',
        method: "POST",
        data: {
          phone: phone,
          amount: data["amount"],
          reference: reference,
          csrfmiddlewaretoken: token,
        },
        success: function(response){
          Swal.fire({text: response.status, icon:response.icon, confirmButtonText:"Okay"}).then((value) => {
            location.reload()
          })
        }
      })
        // Handle success if needed
      } else {
        $.ajax({
        url: '/services/mtn/',
        method: "POST",
        data: {
          phone: phone,
          amount: data["amount"],
          reference: reference,
          csrfmiddlewaretoken: token,
        },
        success: function(response){
          Swal.fire({text: response.status, icon:response.icon, confirmButtonText:"Okay"}).then((value) => {
            location.reload()
          })
        }
      })
        Swal.fire({text: "Something went wrong", icon: "error"})
        throw new Error('Failed to save data');
      }
    })
};

  paymentForm.addEventListener("submit", payWithPaystack, false);
  function payWithPaystack(e) {
    e.preventDefault();
    let phonenumber = $(".mtn-phone").val()
    amount = $(".mtn-offer").val()
    console.log("new amount " + amount)
    if (phonenumber.toString().length < 10 || phonenumber.toString().length !== 10 || phonenumber.toString().length > 10){
      Swal.fire({text: "Phone number must be 10 digits"})
      return;
    }

  let handler = PaystackPop.setup({
    key: 'pk_live_211ba5679babae0b039d8369a30cd8056bdbaec7', // Replace with your public key
    email: email,
    amount: Math.round(amount * 100),
    currency: "GHS",
    ref: ref, // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
    // label: "Optional string that replaces customer email"
    onClose: function(){
      swal("Transaction Closed");
      location.reload()
    },
    callback: function(response){
      let reference = response.reference
      let message = 'Payment complete! Reference: ' + response.reference;
      Swal.fire({text: "Processing your order"})
      Swal.showLoading();

      console.log(bundle_volume + "yoooo")
      let data = {
        "user_id": "{{user_id}}",
        "receiver": phonenumber,
        "data_volume": bundle_volume,
        "reference": reference,
        "amount": amount,
        "channel": "{{phone_num}}"
      }
      saveData(data, reference, phonenumber)

    }
  });

  handler.openIframe();
}
</script>

<script>

$("body").on('click', '.pay-with-wallet', function(e){
    let firstBtn = $(".paystack-btn")
    let secondBtn = $(".pay-with-wallet")
    let process = $(".process")
    firstBtn.css('display', 'none')

    firstBtn.prop('disabled', true)
    secondBtn.prop('disabled', true)
    secondBtn.text("Processing...")
    process.css('display', 'block')

    console.log("yes")
    e.preventDefault()
   let amount = $(".mtn-offer").val()
    let phonenumber = $(".mtn-phone").val()
    if (phonenumber.toString().length < 10 || phonenumber.toString().length !== 10 || phonenumber.toString().length > 10){
      Swal.fire({text: "Phone number must be 10 digits"})
      return;
    }

    const paymentForm = document.getElementById('mtnPaymentForm');
  let email = $(".email").val()
  let ref = $(".reference").val()
  amount = $(".mtn-offer").val()
  let wallet = '{{wallet}}'
  if (parseFloat(wallet) < amount){
    Swal.fire({text: "Not enough wallet balance", icon: 'error'})
      location.reload();
  }
  let wholeThing = $(".mtn-offer").text()
  phonenumber = $(".mtn-phone").val()
      let jsonData = JSON.parse('{{mtn_dict | safe}}');
    console.log(jsonData)
  function getSelectedText() {
    const selectedText = $('.mtn-offer').find('option:selected').text();// Output: Text of the selected option within .mtn-offer
    return selectedText;
  }

  // Call the function on page load
  let offerMtn = getSelectedText();
  let bundle_volume = jsonData[offerMtn]
  console.log(bundle_volume)
  console.log(jsonData)



  // Event listener for changes in the select element
  $('.mtn-offer').change(function() {
    offerMtn = getSelectedText();
    bundle_volume = jsonData[offerMtn]// Output: Updated text of the selected option within .mtn-offer
  });
  console.log(email + ref)
  console.log(offerMtn)


    const postDataToFirebase = (data) => {
    console.log(offerMtn +"-offer")
      console.log(amount)
      console.log(jsonData[offerMtn])
  return fetch('https://posapi.bestpaygh.com/api/v1/initiate_mtn_transaction', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Authorization': '{{auth}}'
      // Other headers if required
    },
    body: JSON.stringify(data),
  });
};
  let token = $("input[name=csrfmiddlewaretoken]").val();

const retryAttempts = 5; // Number of retry attempts
let currentAttempt = 1;

const saveData = (data, reference, phone) => {
  console.log(wholeThing)

  postDataToFirebase(data)
    .then((response) => {
      console.log(response)
      if (response.ok) {
        console.log('Data saved successfully to Firebase');
          $.ajax({
      method: "POST",
      url: "/mtn_pay_with_wallet/",
      data: {
        phone: phone,
        amount: amount,
        reference: reference,
        csrfmiddlewaretoken: token,
      },
      success: function (response) {
        console.log(response.status)
        firstBtn.prop('disabled', false)
        secondBtn.prop('disabled', false)
        secondBtn.text("Pay with Wallet")
        process.css('display', 'none')
        Swal.fire({text: response.status, confirmButtonText:"Okay", allowOutsideClick: false, allowEscapeKey: false}).then((value) => {
              location.reload()
            })
      },
    });
        // Handle success if needed
      } else {
        $.ajax({
      method: "POST",
      url: "/mtn_pay_with_wallet/",
      data: {
        phone: phone,
        amount: amount,
        reference: reference,
        csrfmiddlewaretoken: token,
      },
      success: function (response) {
        console.log(response.status)
        firstBtn.prop('disabled', false)
        secondBtn.prop('disabled', false)
        secondBtn.text("Pay with Wallet")
        process.css('display', 'none')
        Swal.fire({text: response.status, confirmButtonText:"Okay", allowOutsideClick: false, allowEscapeKey: false}).then((value) => {
              location.reload()
            })
      },
    });
         Swal.fire({text: "Something went wrong", icon: "error"})
        throw new Error('Failed to save data');
      }
    })
};
  console.log(bundle_volume + "yoooo")
  let data = {
        "user_id": "{{user_id}}",
        "receiver": phonenumber,
        "data_volume": bundle_volume,
        "reference": ref,
        "amount": amount,
        "channel": "{{phone_num}}"
      }
  saveData(data, ref, phonenumber)
  })
</script>


{% endblock scripts %}